.head {
    padding:1%;
    background-color: #cd853f;
    display: flex;
}

.head__logo {
    align-self: center;
    height: 100px;
    width: 25%;
    justify-content: center;
}

.head__logoImg {
    width: 100%;
    max-width: 250px;
}

.head__title {
    display: flex;
    width: 50%;
}

.head__title--text {
    margin: auto;
    padding: 5%;
    color: #2B0000;
    width: 100%;
    font-weight: 700;
    font-size: 35pt;
    text-align: center;
}

.head__dropdown {
    position: relative;
    display: inline-block;
    width: 25%;
    align-self: center;
}

.head__dropbtn {
    display: grid;
}

.head__dropbtn--img {
    justify-self: end;
    max-width: 55px;
    width: 50%;
}

.head__dropdown-content {
    margin: 0% 0% 25% 25%;
    padding: 3%;
    box-shadow: 1px 1px 1px 1px #cd853f;
    display: none;
    position: absolute;
    min-width: 350px;
    background-color: cornsilk;
    font-weight: 700;
    font-size: 18pt;
}

.head__dropdown-text {
    justify-self: center;
    align-self: center;
    color: #2B0000;
    text-decoration: none;
}

.head__dropdown:hover .head__dropdown-content {
    display: grid;
    background-color: cornsilk;
}

.head__dropdown:hover .head__dropbtn--img {
    background-color: cornsilk;
}

.head__dropdown-text:hover {
    text-decoration: underline;
}